:root {
  --background-base-lowest: light-dark(
    var(--pink-flamingo-lightest),
    var(--pink-flamingo-darkest)
  );
  --background-base-lower: light-dark(
    var(--pink-flamingo-lighter),
    var(--pink-flamingo-darker)
  );
  --background-important: light-dark(
    var(--yellow-mustard-lightest),
    var(--yellow-mustard-darkest)
  );
  --line-separator-style: 2px solid
    light-dark(var(--pink-begonia-lighter), var(--pink-begonia-darker));

  --body-width: 60vw;
  --large-padding: 3em;
  --half-padding: calc(var(--large-padding) / 2);

  --font-scaling: 1.2em;
}

* {
  animation-composition: accumulate;
}
