:root {
  --background-base-lowest: light-dark(
    var(--chartreuse-dry-lightest),
    var(--chartreuse-dry-darkest)
  );
  --background-base-lower: light-dark(
    var(--chartreuse-dry-lighter),
    var(--chartreuse-dry-darker)
  );

  --line-separator-style: 2px solid
    light-dark(
      var(--chartreuse-spring-lighter),
      var(--chartreuse-spring-darker)
    );

  --body-width: 60vw;
  --large-padding: 3em;
  --half-padding: calc(var(--large-padding) / 2);

  --font-scaling: 20px;
}

* {
  animation-composition: accumulate;
}
