@import url("/src/css/page/config.css");

html,
body {
  margin: 0 auto;
  height: 100%;
}

html {
  background-color: light-dark(white, black);
}

body {
  width: 100%;
  padding: var(--large-padding);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--background-base-lowest);
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
  transform: scale(0.9);
  transform-origin: center;
  perspective: 2em;
  perspective-origin: center;
  border-radius: 0.5em;
  box-shadow: 0px 5px 30px var(--background-base-lowest),
    0px 0px 100px 20px rgba(255, 255, 255, 0.01) inset,
    0px -10px 30px 0px light-dark(white, black) inset;
}

header {
  width: 100%;
  height: fit-content;
}

main {
  width: 100%;
  overflow-y: scroll;
}

header > h1 {
  color: var(--important-text-color);
}

ul {
  padding-left: 1em;
  list-style-type: "- ";
}

@media screen and (max-width: 768px) {
  body {
    padding: var(--half-padding);
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: var(--font-scaling);
    width: var(--body-width);
  }
}
