@keyframes Rainbow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

a,
code,
em,
h1,
span {
  color: light-dark(var(--pink-flamingo-dark), var(--pink-flamingo)) !important;
  filter: hue-rotate(0deg);
}
