@import url("https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700|fragment-mono:400");

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
small {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#switch-to-sans-serif {
  display: none;
}

#switch-to-monospace {
  display: inline;
}
