@import url("https://fonts.bunny.net/css?family=gentium-book-basic:400");

* {
  box-sizing: inherit;
  font-family: inherit;
}

:root {
  color-scheme: light dark;

  --max-width: 896px;

  --red: light-dark(darkred, lightcoral);
  --orange: light-dark(saddlebrown, lightsalmon);
  --green: light-dark(darkgreen, lightgreen);
  --cyan: light-dark(darkcyan, paleturquoise);
  --blue: light-dark(darkblue, lightskyblue);
  --magenta: light-dark(darkmagenta, plum);
  --gray: light-dark(gray, gray);

  --highlight: light-dark(wheat, darkgoldenrod);
}

html,
body {
  margin: 0 auto;
  height: 100%;
}

body {
  background-color: light-dark(lightgray, black);
  color: light-dark(black, lightgray);
  max-width: var(--max-width);

  font-family: "Gentium Book Basic", serif;
  font-weight: normal;

  padding: 5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: radial-gradient(
      farthest-corner at 0 0,
      rgba(232, 124, 179, 0.25),
      rgba(232, 124, 179, 0.05),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      circle at bottom,
      rgba(134, 181, 234, 0.25),
      rgba(134, 181, 234, 0.05),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      circle at 100%,
      rgba(237, 223, 146, 0.25),
      rgba(237, 223, 146, 0.05),
      rgba(255, 255, 255, 0)
    );
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

.timestamp {
  font-style: italic;
}

h1,
p {
  margin: 0.8rem 0;
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--magenta);
}

@media screen and (max-width: 896px) {
  body {
    padding: 1em;
  }
}
