:root {
  --tv-line-height: 4px;
}

@keyframes LineMoving {
  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: var(--tv-line-height);
  }
}

@keyframes Blink {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(95%);
  }

  100% {
    filter: brightness(100%);
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background: linear-gradient(
      180deg,
      var(--pink-flamingo-lighter),
      #ffffff,
      var(--pink-flamingo-lighter)
    );
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
      180deg,
      var(--pink-flamingo-darker),
      #000000,
      var(--pink-flamingo-darker)
    );
  }
}

body {
  background-size: 100% var(--tv-line-height) !important;
  background-repeat: repeat-y !important;
  backdrop-filter: blur(1px);
  text-shadow: 0 0 1.5px
    light-dark(var(--pink-flamingo-darker), var(--pink-flamingo-lighter));
  animation-name: LineMoving, Blink;
  animation-iteration-count: infinite, infinite;
  animation-duration: 0.2s, 0.15s;
  animation-timing-function: ease-in-out, ease-in-out;
}
